---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
    {{ page.date | date_to_string }} - {{ page.author }}
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
</p>

{{ content }}

{% assign filtered_posts = site.posts | where: 'series', page.series %}
{% for post in filtered_posts %}
{% if series %}
<a href="{{ post.url }}" {% if page.url == post.url %}class="part" {% else %} class="notpart" {% endif %}>{{ post.part }}</a>
{% endif %}
{% endfor %}
